name: Demo
run-name: THIS ACTION IS RUNNNING...

on: [push]

jobs:
  demo_job:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v5
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
      
