name: Demo
run-name: THIS ACTION IS RUNNNING...

on: [push]

jobs:
  demo_job:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v5
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - name: dotnet format
        continue-on-error: true
        run: dotnet format --verify-no-changes --verbosity diagnostic
        
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
          
      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
      
